@charset "UTF-8";

@media screen and (min-width: 600px) {
    #burguer {
        display: none;
    }

    #itens {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }
}