@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

header {
    background-color: gray;
}

header > h1 {
    text-align: center;
    font-size: 2em;
    padding: 15px;
}

#burguer {
    display: block;
    background-color: rgb(68, 68, 68);
    color: white;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: rgb(68, 68, 68);
}

menu {
    background-color:rgb(82, 82, 82);
    display: none;
}

menu > ul > li {
    list-style-type: none;
    border: 1px solid gray;
}

menu > ul > li > a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: lightgray;
    text-align: center;
}

menu a:hover {
    background-color: lightgray;
    color: rgb(78, 78, 78);
}

main {
    background-color: white;
    width: 80vw;
    margin: auto;
    padding: 15px;
    padding-bottom: 30px;
    margin-top: 20px;
    text-align: justify;
    border-radius: 10px;
    text-indent: 30px;
}

article h2 {
    padding: 10px;
}

article p {
    padding-bottom: 10px;
}