@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}
  body {
    background-image: linear-gradient(to right, #B7CBFE, #7F8BAA)
  }
  main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4966afa8;
    width: 600px;
    padding: 10px;
    margin: auto;
  }
h1{
    color: #233155;
    text-align: center;
    text-shadow: 1px 1px 2px #3d5694ad ;
    
}
h2 {
    color: #4A5980;
}


 